
<div class="main-div">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <img src="assets/profile_icon.jpg" alt="" class="header-image">
            </div>
            <mat-card-title>{{user?.userName}}</mat-card-title>
            <mat-card-subtitle>{{user?.email}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p>First name: {{user?.firstName}} </p>
            <p>Last name: {{user?.lastName}} </p>
        </mat-card-content>
    </mat-card>
</div>